
.column {
    margin: 10px 1.04166667% 0 0;
    float:right;
}

#pizza {
width:60%; 
float:left;
}
#visit {
    /*margin: 0  0 0 68.75%;*/
    width:37%; 
    float:right;
}

#oncolor {
    width:65%;
    float: right;
    margin: 10px 0 0 0;
}

header {
    background: url('images/pizza10.jpg') repeat-x;
    width:90%;
    height: 300px;
}

#map {
    width: 80%;
    height: 300px;
    border: none;
    overflow: hidden;
    margin: 0;
}
